- if defined?(events)
  .audit-table#audits
    .gl-responsive-table-row.table-row-header{ role: 'row' }
      .table-section.section-15{ role: 'rowheader' }
        = _('Author')
      .table-section.section-50{ role: 'rowheader' }
        = s_('AuditEvents|Action')
      .table-section.section-15{ role: 'rowheader' }
        = s_('AuditEvents|Target')
      .table-section.section-20{ role: 'rowheader' }
        = s_('AuditEvents|At')
    - events.each do |event|
      .gl-responsive-table-row
        .table-section.section-15
          .table-mobile-header{ role: 'rowheader' }
            = _('Author')
          .table-mobile-content
            - if event.author_name
              = event.author_name
            - else
              = s_('AuditEvents|(removed)')
        .table-section.section-50.flex-truncate-parent.audit-action.js-audit-action
          %span= sanitize(human_text(event.details), tags: %w(strong))
        .table-section.section-15.flex-truncate-parent
          = event.details[:target_details]
        .table-section.section-20
          = event.created_at

  = paginate events, theme: "gitlab"
